<div id="game">

  
<div id="welcome">
  <h3 class>Welcome to Blackjack, <%= session[:player_name] %>! </h3>
  <h4 class>Your current bet is $<%= session[:current_bet]%></h4>
</div>

  <%if @lose %>
    <div class="alert alert-error"><%=@lose%></div>
  <% end %>
  <%if @win %>
    <div class="alert alert-success"><%=@win%></div>
  <% end %>

  <% if @dealer_continue == false %>
      <h4>Would you like to play another hand?</h4>
      <form action="/" method='get'>
        <input type="submit" class="btn btn-success" value="New Hand" />
      </form>
  <% end %>

  <!-- Show dealer cards -->
  <div class="well">
    <h4>The Dealer's cards:</h4>
    <% if @dealer_continue == false %>
      <% session[:dealer_cards].each do |card| %>
        <%= image_url(card) %>
      <% end %>
      <p class="total">
        <strong>Total:</strong> <%= total(session[:dealer_cards]).to_s %>
      </p>
    <% else %>
      <img class='card' src='/images/cards/cover.jpg'> 
      <%= image_url(session[:dealer_cards][1]) %>
    <% end %>
  </div>

  <% if @show_hit_or_stay == false %>
      <h4>Please hit button to reveal dealer's cards:</h4>
      <form id="dealer-btn" action="/game/dealer" method='post'>
        <input type="submit" class="btn btn-success" value="Dealer" />
      </form>
  <% end %>
    

    <!-- Show player cards -->
    <div class="well" id="player_cards">
      <h4><%= session[:player_name] %>'s cards:</h4>
        <% session[:player_cards].each do |card| %>
          <%= image_url(card) %>
        <% end %>
      <p class="total">
        <strong>Total:</strong> <%= total(session[:player_cards]).to_s %>
      </p>
  </div>


  <% if @show_hit_or_stay %> 
    <h4>What would <%= session[:player_name] %> like to do?</h4>

    <form id="hit-form" action="/game/player/hit" method='post'>
      <input type="submit" class="btn btn-success" value="Hit" />
    </form>
    <form id="stay-form" action="/game/player/stay" method='post'>
      <input type="submit" class="btn btn-danger" value="Stay" />
    </form>
  <% end %>
</div>

